.episode {

    // .episode__container

    &__container {}

    // .episode__body

    &__body {}

    // .episode__top

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 0px 24px 0px;
    }

    // .episode__title

    &__title {
        font-size: 36px;
        line-height: 42px;
        color: #081F32;
    }

    // .episode__null

    &__null {}

    // .episode__info

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0px 0px 64px 0px;
    }

    // .episode__episode

    &__episode {}

    // .episode__date

    &__date {}

    // .episode__cast

    &__cast {}

    // .episode__cards

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px 20px;
    }

    // .episode__card

    &__card {
        background: #FFFFFF;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
        border-radius: 8px;
    }
}

.card-episode {

    // .card-episode__image

    &__image {
        border-radius: 8px 8px 0px 0px;

        img {
            border-radius: 8px 8px 0px 0px;
            width: 240px;
            height: 168px;
        }
    }

    // .card-episode__info

    &__info {
        padding: 12px 16px;
    }

    // .card-episode__name

    &__name {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.15px;
        color: rgba(0, 0, 0, 0.87);
    }

    // .card-episode__gender

    &__gender {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.25px;
        color: rgba(0, 0, 0, 0.6);
    }
}
