[class*="__container"] {
    max-width: 1020px;
    box-sizing: content-box;
    margin: 0 auto;
    height: 100%;
    padding: 0px 0px 50px 0px;
}

.label {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
}

.info-label {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #8E8E93;
    margin: 0px 0px 24px 0px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 24px 0px;
}

.title {
    font-size: 36px;
    line-height: 42px;
    color: #081F32;
}

.null {}

.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 0px 64px 0px;
}

.episode {}

.date {}

.cast {}

.image-top {
    display: flex;
    justify-content: center;
    margin: 0px 0px 16px 0px;
}
