.season {

    &__wrapper {
        padding: 20px;
        background: #FFFFFF;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
        border-radius: 4px;

        &:not(:last-child) {
            margin: 0px 0px 30px 0px;
        }
    }

    // .season__top

    &__top {
        display: flex;
        align-items: center;
        margin: 0px 0px 15px 0px;
    }

    // .season__title

    &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.15px;
        color: rgba(0, 0, 0, 0.87);
        margin: 0px 30px 0px 0px;
    }

    // .season__body

    &__body {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.15px;
        text-align: center;
        color: rgba(0, 0, 0, 0.87);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}
