.header {
    background: #FFFFFF;
    box-shadow: -2px 0px 8px 2px rgba(0, 0, 0, 0.1);
    margin: 0px 0px 26px 0px;

    // .header__container

    &__container {
        padding: 5px 0px !important;
    }

    // .header__body

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .header__logo

    &__logo {}

    // .header__navbar

    &__navbar {}

    // .header__links

    &__links {
        display: flex;
        align-items: center;
    }

    // .header__link

    &__link {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-align: center;

        &:not(:last-child) {
            margin: 0px 24px 0px 0px;
        }
    }
}
