.seasons {

    // .seasons__container

    &__container {}

    // .seasons__top

    &__top {
        display: flex;
        justify-content: center;
        margin: 0px 0px 16px 0px;
    }

    // .seasons__body

    &__body {}
}
